.contenedorGlobal {
  background-color: rgba(0, 0, 0, 0.724);
  padding: 60px 40px 60px;
  text-align: justify;
}

.contenedorGlobal h1 {
  color: rgb(201, 201, 201);
  text-align: center;
}

.contenedorGlobal p {
  color: white;
  text-indent: 2em;
}

.aldo {
  display: flex;
  justify-content: end;
}

.containerPrincipal {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
}

.imagen2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.imagen2 img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  margin-top: auto;
  padding-top: 15px;
  color: rgb(238, 221, 177);
  font-size: 1.5rem;
  text-align: center;
}



@media (min-width: 768px) {
  .contenedorGlobal {
    padding: 20px 50px;
  }

  .contenedorGlobal>p {
    padding: 40px;
    font-size: 1rem;
  }

  .contentTallerSarelli {
    padding: 60px 40px;
  }

  .contentTallerSarelli h1 {
    font-size: 2.2rem;
  }

  .containerPrincipal {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .contenedorGlobal>p {
    padding: 10px 50px;
  }

  .contentTallerSarelli {
    max-width: 900px;
    margin: 0 auto;
  }

  .containerPrincipal {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 40px 80px;
  }

  .imagen2 img {
    max-width: 320px;
  }

  .title {
    font-size: 2rem;
  }
}