.imagen {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;


  background-image: url("../../../Imagenes/Taller/622389798_122105173323221414_3278525121540072140_n.jpg");
  /* ajustá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.contentTallerSarelli {
  position: relative;
  max-width: 500px;
  padding: 300px 30px;
  color: rgb(201, 201, 201);
  z-index: 2;
  text-align: justify;
}



.contentVisiones {
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 50px;

  overflow-x: hidden;
}
.contentVisiones h4{
  margin-top: 100px;
  color: rgb(207, 207, 207);
  font-size: 1.5rem;
}

.contenedorEtiqueta {
  display: flex;

  align-items: center;
  /* justify-content: space-between; */

  /* gap: 10px; */
  /* background-color: red; */

}

.contenedorEtiqueta h4{
  color: white;
  text-align: justify;
}

/* normal: texto izquierda, imagen derecha */
.normal {
  flex-direction: row;
}

/* invertido: imagen izquierda, texto derecha */
.reverse {
  flex-direction: row-reverse;
}

.normal img {
  margin-left: auto;
}

.reverse img {
  margin-right: auto;
}

.textoWrapper {
  max-width: 600px;
  /* padding: 0 80px; */
  color: white;
}

/* entra desde la izquierda */
.fromLeft {
  transform: translateX(-120px);
}

/* entra desde la derecha */
.fromRight {
  transform: translateX(120px);
}


.imgMision {
  width: auto;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}
.imgMisionn{
  width: auto;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 100px;
}


.animacion {
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  width: 650px;
}


/* estado visible */
.animacion.visible {
  opacity: 1;
  transform: translateX(0);
}


.destacada {
  margin-top: 100px;
  align-items: center;
}

.tituloFinal {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(207, 207, 207);;
}

.textoFinal {
  font-size: 1rem;
  max-width: 600px;
  margin-bottom: 24px;
  line-height: 1.6;

  text-align: justify;
  padding: 0 80px;
}

.textoFinal ul{
  text-align: justify;
}

.listaFinal {
  max-width: 420px;
  padding-left: 100px;
  list-style: none;
  text-align: justify;
  margin-bottom: 15px;

}

.listaFinal li {
  margin-bottom: 12px;
}

.listaFinal h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}


.botonn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 12px;

  font-size: 15px;
  font-weight: 500;
  color: rgb(207, 207, 207);
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s ease;
  justify-content: center;

}

.botonn:hover {
  color: #C49946;
}


/* =======================RESPONSIVE======================= */
/* @media (max-width: 1024px) {
  .animacion {
    width: 45vw;
  }
}

@media (max-width: 768px) {
  .contentVisiones {
    padding: 80px 24px;
    gap: 80px;
  }

  .animacion {
    width: 100%;
    font-size: medium;
  }

  .animacion:nth-of-type(odd),
  .animacion:nth-of-type(even) {
    transform: translateX(200px);
    margin-left: 0;
    margin-right: 0;
  }
}
 */