/* .imagen {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  background-size: contain;
  /* 
  background-position: center;
  
  background-repeat: no-repeat;
  margin-top: 80px; 
} */
.imagen {
  position: relative;
  width: 100vw;
  /* min-height: 100svh; */
  overflow: hidden;
  
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.content {
  position: relative;
  max-width: 600px;
  padding: 400px 80px;
  color: white;
  z-index: 100;

}


.proposito{
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 32px;
  color: #000;
  border-radius: 8px;
}
