.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.contentPrincipal {
  position: relative;
  color: rgb(201, 201, 201);
  z-index: 100;
  margin: 20px 70px;
  text-align: center;
}

.contentPrincipal h1{
  font-size: 3rem;
}
.contentPrincipal p{
  color: white;
  text-align: justify;
}


.imagen p{
  color: white;
  padding-top: 80px;

}

.imagen {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;


  background-image: url("https://res.cloudinary.com/dovztsxyv/image/upload/v1771951832/7ArteMendodino_j1pevm.jpg");

  /* ajustá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}