.contenedorGlobalLanding{
    /* position: fixed;
    top: 0; */
    width: 100vw;
    box-sizing: border-box;
}
.contenedorGlobal{
  background-color: rgba(0, 0, 0, 0.724);
  padding-top: 1px;
}
.contenedorGlobal h1{
  color: rgb(201, 201, 201);
}

.contenedorGlobal p{
  color: white;
  padding: 10px 100px;
  padding-bottom: 80px;
}