#gallery {
    width: 100%;
}

#gallery h3 {
    font-family: "Azeret Mono", monospace;
}

#gallery header,
#gallery footer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-group-container {
    height: 500vh;
    position: relative;
}

.img-group-container>div {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
}

.img-group {
    display: flex;
    padding: 0;
    margin: 0;
}

.img-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallery header h2 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

.img-container h3 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    display: inline-block;
}


.img-container img {
    width: 300px;
    height: 400px;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: #9911ff;
    bottom: 50px;
    transform: scaleX(0);
}