#gallery {
    width: 100%;
}

#gallery h3 {
    font-family: "Azeret Mono", monospace;
}

#gallery header,
#gallery footer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-group-container {
    height: 500vh;
    position: relative;
}

.img-group-container>div {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
}

.img-group {
    display: flex;
}

.img-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Nose que es */
#gallery header h2 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}


.img-container h3 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: relative;
    bottom: 30px;
    display: inline-block;
}


.img-container img {
    width: auto;
    height: 600px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  font-size: 32px;
  color: #c49946;
  cursor: pointer;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.arrow:focus:not(:focus-visible) {
  outline: none;
}

.arrow:focus-visible {
  box-shadow: 0 0 0 3px rgba(196, 153, 70, 0.6);
  border-radius: 50%;
}
