.imagen {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    background-image: url("https://res.cloudinary.com/dovztsxyv/image/upload/v1771951829/5_dyrmtj.jpg");
    /* ajustá la ruta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.60);
}

.background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background-size: cover;

    padding-top: 100px;

}

/* Contenido */
.contacto {
    max-width: 1100px;
    margin: 0 auto;

    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 40px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 30vw;
    align-items: center;
}


.datos {
    display: grid;
    justify-content: start;
    align-items: center;
    color: white;
    z-index: 100;
    font-size: 1.4rem;

}
.redes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.redes svg {
    font-size: 22px;
    color: #C49946;
}

/* Datos */
.datos h2 {
    margin-bottom: 50px;
}

.mail {
    /* color: #E94B42; */
    color: white;

}

.mail:hover {
    color: #C49946;
}

/* Mapa */
.mapContainer {
    width: 80vw;
    height: 30vh;
    z-index: 0;

}

.mapContainer iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
}

/* RESPONSIVE */
@media (min-width:768px) {
    .contacto {
        display: grid;
    }

    .mapContainer {
        width: 300px;
        height: 300px;
        z-index: 0;

    }
}

@media (min-width:992px) {
    .contacto {
        display: grid;
    }

    .mapContainer {
        width: 400px;
        height: 400px;
        z-index: 0;

    }
}