#gallery {
  width: 100%;
  overflow-x: hidden;

}

#gallery h3 {
  font-family: "Azeret Mono", monospace;
}

#gallery header,
#gallery footer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-group {

  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-group-container {
  height: 2500vh;
  position: relative;
  

}

.img-group-container>div {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;

}

.img-container {
  width: 100%;
  height: 100vh;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#gallery header h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.img-container h3 {
  margin-top:50px;
  margin-bottom: -10px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: relative;
  display: inline-block;
}

.img-container img {
  width: 300px;
  height: 400px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  font-size: 32px;
  color: #c49946;
  cursor: pointer;
}

/* Distancia de las flechas con respecto al borde */
.left {
  left: 20px;
}

.right {
  right: 20px;
}

.arrow:focus:not(:focus-visible) {
  outline: none;
}

.arrow:focus-visible {
  box-shadow: 0 0 0 3px rgba(196, 153, 70, 0.6);
  border-radius: 50%;
}