/* HEADER GENERAL */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  padding: 0 40px;

  color: white;


  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #FEF9EF;
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
  margin-bottom: 100px;

}

/* Logo */
.logo span {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.botonn {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    padding: 8px 12px;
    transition: color 0.2s ease;
}

.botonn:hover {
    color: #E94B42;
}

/* DROPDOWN CONTAINER  */
.nav > div {
  position: relative;
}

/* DROPDOWN MENU */
.nav ul {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 8px;
  padding: 10px 0;

  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);

  min-width: 180px;
  z-index: 100;
}

/* DROPDOWN ITEMS  */
.nav ul li {
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav ul li:hover {
  background-color: #f5f5f5;
}