.contenedorPrincipalHeader {
  height: 100px;
  padding: 30px;
  background-color: #FEF9EF;

  border-bottom: 1px solid #e5e5e5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  z-index: 100;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* BOTONES */
.botonn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 12px;

  font-size: 15px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s ease;

}

.botonn:hover {
  color: #E94B42;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

/* SUBMENU BASE */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0px;

  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  min-width: 220px;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 1000;
}

/* SUBMENU VISIBLE */
.submenu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* LISTA */
.submenu ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

/* ITEMS */
.submenuLink {
  display: block;
  padding: 12px 20px;
  margin: 0px;

  font-size: 14px;
  color: #333;
  text-decoration: none;

  transition: background-color 0.2s ease;
}

.submenuLink:hover {
  background-color: #f5f5f5;

  color: #E94B42;
}
