/* .gallerySnap {
  scroll-snap-type: y mandatory;
} */
.contenedorGlobal{
  background-color: rgba(110, 110, 110, 0.45);
  padding-top: 1px;
}
.containerPrincipal{
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.title {
  color: var(--accent);
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-size: 35px; 
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  color: rgb(238, 221, 177);
}
.img-container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.img-container > div {
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  
}

.img-container img {
  width: 300px;
  height: 400px;
}

.img-container h2 {
  color: var(--accent);
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  top: calc(50% - 25px);
  left: calc(50% + 120px);
}
