.imagen {
  position: relative;
  min-height: 93vh;
  width: 100vw;
  overflow: hidden;


  background-image: url("https://res.cloudinary.com/dovztsxyv/image/upload/v1771951856/paletaAldo_rgdz7d.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.contentTallerSarelli {
  position: relative;
  max-width: 100%;
  padding: 60px 40px 60px;
  color: rgb(201, 201, 201);
  z-index: 2;
  text-align: center;
}


.contentTallerSarelli h1 {
  font-size: 2.1rem;
  margin-bottom: 16px;
}

.contentTallerSarelli p {
  font-size: 1rem;
  line-height: 1.6;

}

.paulHoster {
  display: flex;
  justify-content: end;
}



.containerPrincipal {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  gap: 50px;
}

.title {
  color: rgb(238, 221, 177);

  font-size: 25px;
  font-weight: 700;

  line-height: 1.2;
  margin-top: 33px;
  text-align: center;
  padding-right: 25px;
  font-size: 2rem;
}

.titlee {

  color: rgb(238, 221, 177);
  font-weight: 700;

  line-height: 1.2;
  text-align: center;
  margin-top: 35px;
  font-size: 2rem;

}


.img-container {
  display: flex;
  justify-content: center;
}

.img-containerr {
  display: flex;
  justify-content: center;
  /* padding-top: 10px; */
}


.img-container>div,
.img-containerr>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-container img {
  width: 300px;
  height: 400px;
}

.img-containerr img {
  width: 200px;
  height: 300px;
}


.img-container h2 {
  color: var(--accent);
  margin: 0;
  font-family: "Azeret Mono", monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  top: calc(50% - 25px);
  left: calc(50% + 120px);
}

.libro {
  background-color: rgba(0, 0, 0, 0.724);
  padding-bottom: 100px;

}

.imgLibro {
  width: 45vw;
  padding: 70px 0px;
  color: white;
}

.titulo {
  color: rgb(201, 201, 201);
  transition: color 0.5s ease;
  font-size: 1.5rem;
}

.titulo:hover {
  color: #C49946;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .contentTallerSarelli {
    position: relative;
    max-width: 100%;
    padding: 100px 50px 60px;
    color: rgb(201, 201, 201);
    z-index: 2;
    text-align: center;
  }

  .contentTallerSarelli h1 {
    font-size: 2.6rem;
  }

  .contentTallerSarelli p {
    font-size: 1.05rem;
  }

  .imgLibro{
    width: 300px;
    height: auto;
  }
  
  .titulo {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .contentTallerSarelli {
    position: relative;
    max-width: 100%;
    padding: 100px 50px 60px;
    color: rgb(201, 201, 201);
    z-index: 2;
    text-align: center;
  }

  .contentTallerSarelli h1 {
    font-size: 3rem;
  }

  .contentTallerSarelli p {
    font-size: 1.1rem;
  }

  .containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 100px;

  }

  .title {
    color: rgb(238, 221, 177);

    font-size: 25px;
    font-weight: 700;

    line-height: 1.2;
    margin-top: 33px;
    text-align: center;
    padding-right: 25px;
    font-size: 2rem;
  }

  .titlee {
    color: rgb(238, 221, 177);
    font-weight: 700;

    line-height: 1.2;
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .img-containerr {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  .imgLibro{
    width: 300px;
    height: auto;
  }
  .titulo {
    font-size: 2rem;
  }
}