.gallery {
  display: grid;
  grid-template-columns: 1fr;
  /* 👈 1 columna */
  grid-auto-rows: 220px;
  gap: 16px;
  width: 100%;
}

.item {
  overflow: hidden;
}


.small,
.medium,
.large {
  grid-row: span 1;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.4s ease;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px;
}

.modal {
  width: 100%;
  max-height: 90vh;
  position: relative;
}

.modal img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.content {
  display: grid;
  align-items: flex-end;
  gap: 40px;
}


.imageWrapper {
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.text {
  color: white;
  text-align: left;

}

.text h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.text p {
  opacity: 0.85;
  line-height: 1.4;
}


.prev,
.next {
  display: none;
}

.prev {
  left: -70px;
}

.next {
  right: -70px;
}

/* Responsive */

@media (min-width: 900px) {
  .modal {

    max-width: 1100px;
  }

  .content {
    display: flex;
    align-items: end;
    gap: 4px;
  }

  .imageWrapper {
    flex: 2;
  }

  .text {
    flex: 1;
    max-width: 320px;
  }

  .imageWrapper img {
    max-height: 80vh;
  }

  .prev,
  .next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .prev {
    left: -60px;
  }

  .next {
    right: -60px;
  }

}

@media (hover: hover) {
  .item img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }
}




@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }

  .medium {
    grid-row: span 2;
  }

  .large {
    grid-row: span 2;
  }
}


@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 180px;
  }

  .small {
    grid-row: span 1;
  }

  .medium {
    grid-row: span 2;
  }

  .large {
    grid-row: span 3;
  }
}