.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 16px;
  width: 98;

}
.item {
  overflow: hidden;
}

.small {
  grid-row: span 1;
}

.medium {
  grid-row: span 2;
}

.large {
  grid-row: span 3;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.4s ease;
  cursor: pointer;
}

.item img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

/* MODAL */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  width: 90%;
  max-width: 1000px;
  max-height: 90vh;
  display: flex;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.modal img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  
}

.text h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.text p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 1.6;
}

.close {
  position: absolute;
  top: -80px;
  right: 0;
  background: none;
  border: none;
  color: #6f6;
  font-size: 24px;
  cursor: pointer;
}
